*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */

  }

/* this code will be used when the screen size is 1200 pixels or less */
@media screen and (max-width: 1200px) {
body{
 /* transform-origin: top; */
 transform: scale(1.0);
 margin:0 auto;
 background-image: url('assets/background2.png');
 
}
}



body {
  background-image: url('assets/backportrait.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}
/* the main container */


.back-side {
width: 445px;
height: 250px;
position: relative;
/* left: 300; */
/* top: 155; */
/* adjust this to space out the cards */
margin-top: 210px;
margin-left: 60%;
overflow: hidden;
/* box-shadow: 2px 5px 15px 0px #17161694; */
background-image: url('assets/final-backcard.png');
background-size: contain;
border-radius: 10px;
}

/* .front-side{
} */




.icon-container{
width: 25%;
margin: 0 auto;
top:70px;

display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: 
"a b";
grid-gap: 10px;
position: relative;

}

.text-container {
font-family: 'Catamaran', sans-serif;
color: rgb(53, 99, 146);;
position: relative;
top: 45px;
text-align: center;

}


h1 {
font-size: xx-large;
font-weight:700;
letter-spacing: 0.03cm;
}

h5 {
font-weight:400;
color:rgb(88, 89, 91);
font-size: medium;
letter-spacing: 0.2ch;

}


/* svg styling */
/* .st0{display:none;} */
.st1{display:inline;}



svg{
fill:rgb(88, 89, 91);
height: 43px;

}

.email-icon {
height: 43px;

}


#icon-fill{
fill:rgb(30, 135, 234);
}

svg {
fill:#58595b;

}

.svg-interaction:hover{
fill:rgb(30, 135, 234);
/* animation: icon-fill; */

}


h3 {
font-weight:400;
color:rgb(88, 89, 91);
font-size: medium;
letter-spacing: 0.2ch;
}

.drawing2 {
position: absolute;
width: 110px;
top: 90px;
left: 6px;
bottom: 0px;
margin: 0px auto;
overflow: hidden;
background-size: contain;
}

.painting2 {
position: absolute;
width: 120px;
left: 310px;
top: 40px;
margin: 70px auto;
overflow: hidden;
background-size: contain;
}