*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */

    }


body {
    background-image: url('assets/backportrait.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* the main container */


.back-side {
  width: 441px;
  height: 245px;
  position: relative;
  left: 300;
  top: 150;
  /* adjust this to space out the cards */
  margin: 70px auto;
  overflow: hidden;
  /* box-shadow: 2px 5px 15px 0px #17161694; */
  background-image: url('assets/cardback2.png');
  background-size: contain;
}

/* .front-side{
} */

.name{
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px

}

.secondary{
  display: grid;
  position: relative;
  margin-left: 30px;

}

.icon-container{

  width:35%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "a b";
  grid-gap: 0px;
  position: relative;

  top: 60px;
  left: 25px;
}

.text-container {
  font-family: 'Catamaran', sans-serif;
  color: rgb(53, 99, 146);;
  position: relative;
  top: 40px;
  text-align: center;
  

}

h1 {
  font-size: xx-large;
  font-weight:700;
  letter-spacing: 0.03cm;
}

h5 {
  font-weight:400;
  color:rgb(88, 89, 91);
  font-size: medium;
  letter-spacing: 0.2ch;
  
}

/* .circle{
  background-image: url("/assets/circle.svg");
  grid-area: a;
} */


/* h3{
  margin-bottom: 0px;
}

h5{
  margin-top: 0px;
  padding-top: 0px;
} */


/* svg styling */
/* .st0{display:none;} */
.st1{display:inline;}



svg{
  fill:rgb(88, 89, 91);
  height: 38;
  
}



#icon-fill{
  fill:none;
}



.svg-interaction:hover{
  fill:rgb(30, 135, 234);
  opacity: 0.5;
  animation: icon-fill;
  animation-duration: 2s;
}